/* Style the search field */
nav {
  display: flex;
  justify-content: center;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form.search-bar input[type="search"] {
    padding: 25px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    height: 69px;
    background: #f1f1f1;
    border: none;
    border-radius: 10px;
    position: relative;

    &:focus-visible {
      outline: none;
      box-shadow: 3px 7px 11px -1px rgba(101, 101, 101, 0.98);
    }
  }

  /* Style the submit button */
  form.search-bar button {
    width: 4%;
    padding: 10px;
    color: black;
    font-size: 2em;
    border: none;
    cursor: pointer;
    position: absolute;
    position: relative;
    right: 69px;
  }
}

//=========== Button ingredient===============================

.ingredient {
  position: relative;
  display: flex;
}

.button-option {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  flex-wrap: wrap;
}

.search-ingredient {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 44%;
  height: 69px;
  background: #3282f7;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
  &::placeholder {
    color: white;
    opacity: 1;
    font-size: 1em;
  }
}
.btn-ingredient {
  height: 69px;
  color: white;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  background: #3282f7;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  .addIngredients {
    display: none;
  }
}

.content-ingredient {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10%;

  .ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.sous-menu {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 100%;
  height: auto;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  display: none;
  z-index: 3;
}

//=========== Button appareil===============================

.appareils {
  position: relative;
  display: flex;
}

.search-appareil {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 44%;
  height: 69px;
  background: #68d9a4;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
  &::placeholder {
    color: white;
    opacity: 1;
    font-size: 1em;
  }
}

.btn-appareil {
  height: 69px;
  color: white;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  background: #68d9a4;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sous-menu-appareil {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 100%;
  height: auto;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  display: none;
  z-index: 4;
}

.content-appareil {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .appareil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    li {
      margin: 2px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

//=========== Button ustensiles===============================

.ustensiles {
  position: relative;
  display: flex;
}

.search-ustensiles {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 44%;
  height: 69px;
  background: #ed6454;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
  &::placeholder {
    color: white;
    opacity: 1;
    font-size: 1em;
  }
}

.btn-ustensiles {
  background: #ed6454;
  height: 69px;
  color: white;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sous-menu-ustensiles {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 100%;
  height: auto;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  display: none;
  z-index: 5;
}

.content-ustensiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .ustensile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    li {
      margin: 2px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.btn-ingredient-matched {
  background: #3282f7;
  border-radius: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  margin-right: 5px;
  .fa-times-circle {
    padding-left: 10px;
  }
}

.btn-ustensils-matched {
  background: #ed6454;
  border-radius: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  margin-right: 5px;
  .fa-times-circle {
    padding-left: 10px;
  }
}

.btn-appliance-matched {
  background: #68d9a4;
  border-radius: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  margin-right: 5px;
  .fa-times-circle {
    padding-left: 10px;
  }
}

.add-matchedButton {
  margin-top: 25px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 15px;
}

.addUstensiles {
  display: none;
}

.addAppareils {
  display: none;
}
