/* Style the search field */
nav {
  display: flex;
  justify-content: center;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form.search-bar input[type="search"] {
    padding: 25px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    height: 69px;
    background: #f1f1f1;
    border: none;
    border-radius: 10px;
    position: relative;

    &:focus-visible {
      outline: none;
      box-shadow: 3px 7px 11px -1px rgba(101, 101, 101, 0.98);
    }
  }

  /* Style the submit button */
  form.search-bar button {
    width: 4%;
    padding: 10px;
    color: black;
    font-size: 2em;
    border: none;
    cursor: pointer;
    position: absolute;
    position: relative;
    right: 69px;
  }
}

//=========== Button ingredient===============================

.button-option {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 50px;

  .search-ingredient {
    padding: 25px;
    font-size: 1em;
    border: 1px solid grey;
    width: 16%;
    height: 69px;
    background: #3282f7;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 3;

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
    &::placeholder {
      color: white;
      opacity: 1;
      font-size: 1em;
    }
  }
  .btn-ingredient {
    width: 4%;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    position: absolute;
    position: relative;
    right: 58px;
    background: none;
    bottom: -3px;
    z-index: 3;
  }

  .content-ingredient {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10%;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      width: 100px;
      margin-bottom: 2%;
    }
  }

  //=========== Button appareil===============================

  .search-appareil {
    padding: 25px;
    font-size: 1em;
    border: 1px solid grey;
    width: 16%;
    height: 69px;
    background: #68d9a4;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 3;

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
    &::placeholder {
      color: white;
      opacity: 1;
      font-size: 1em;
    }
  }

  .btn-appareil {
    width: 4%;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    position: absolute;
    position: relative;
    right: 58px;
    background: none;
    bottom: -3px;
    z-index: 3;
  }

  //=========== Button ustensiles===============================

  .search-ustensiles {
    padding: 25px;
    font-size: 1em;
    border: 1px solid grey;
    width: 16%;
    height: 69px;
    background: #ed6454;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 3;

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
    &::placeholder {
      color: white;
      opacity: 1;
      font-size: 1em;
    }
  }

  .btn-ustensiles {
    width: 4%;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    position: absolute;
    position: relative;
    right: 58px;
    background: none;
    bottom: -3px;
    z-index: 3;
  }

  .sous-menu {
    padding: 25px;
    font-size: 1em;
    border: 1px solid grey;
    width: 30%;
    height: auto;
    background: #3282f7;
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    display: none;

    .btn-ustensiles {
      background: #68d9a4;
    }
  }
}
