/* Style the search field */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Style the submit button */
}

nav form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav form.search-bar input[type="search"] {
  padding: 25px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  height: 69px;
  background: #f1f1f1;
  border: none;
  border-radius: 10px;
  position: relative;
}

nav form.search-bar input[type="search"]:focus-visible {
  outline: none;
  -webkit-box-shadow: 3px 7px 11px -1px rgba(101, 101, 101, 0.98);
          box-shadow: 3px 7px 11px -1px rgba(101, 101, 101, 0.98);
}

nav form.search-bar button {
  width: 4%;
  padding: 10px;
  color: black;
  font-size: 2em;
  border: none;
  cursor: pointer;
  position: absolute;
  position: relative;
  right: 69px;
}

.button-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 50px;
}

.button-option form.search-ingredient input[type="search"] {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 60%;
  height: 69px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 10px;
  position: relative;
}

.button-option form.search-ingredient input[type="search"]:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-option form.search-ingredient input[type="search"]::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-ingredient input[type="search"]:-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-ingredient input[type="search"]::-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-ingredient input[type="search"]::placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-ingredient button {
  width: 4%;
  padding: 10px;
  color: white;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  position: absolute;
  position: relative;
  right: 58px;
  background: none;
  bottom: -3px;
}

.button-option form.search-appareil input[type="search"] {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 60%;
  height: 69px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 10px;
  position: relative;
}

.button-option form.search-appareil input[type="search"]:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-option form.search-appareil input[type="search"]::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-appareil input[type="search"]:-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-appareil input[type="search"]::-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-appareil input[type="search"]::placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-appareil button {
  width: 4%;
  padding: 10px;
  color: white;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  position: absolute;
  position: relative;
  right: 58px;
  background: none;
  bottom: -3px;
}

.button-option form.search-ustensiles input[type="search"] {
  padding: 25px;
  font-size: 1em;
  border: 1px solid grey;
  width: 60%;
  height: 69px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 10px;
  position: relative;
}

.button-option form.search-ustensiles input[type="search"]:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-option form.search-ustensiles input[type="search"]::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-ustensiles input[type="search"]:-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-ustensiles input[type="search"]::-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-ustensiles input[type="search"]::placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
}

.button-option form.search-ustensiles button {
  width: 4%;
  padding: 10px;
  color: white;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  position: absolute;
  position: relative;
  right: 58px;
  background: none;
  bottom: -3px;
}
/*# sourceMappingURL=nav.css.map */